.app {
  text-align: center;
  margin-top: 20px;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(20, 20px);
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-top: 23px;
}

.row {
  display: flex;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
}

.alive {
  background-color: #6905c6;
}

.controls {
  margin-top: 20px;
}

.controls button {
  margin: 0 10px;
  padding: 10px 17px;
  border-radius: 12px;
}
